      body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #333333;
        }

        .header {
            text-align: center;
        }

        #logo {
            width: 200px;
            height: auto;
            margin: 10px;
        }

        .slogan {
            font-size: 14px;
            color: green;
            background-color: lightyellow;
            padding: 15px;
            margin: 0;
            border-top: 2px solid yellow;
        }

        .slogan span {
            font-weight: bolder;
        }

        .main {
            padding: 10px;
            margin: auto;
            width: 50%;
            text-align: left;
        }

        .top h1 {
            text-align: center;
        }

        .focaccia-img {
            width: 90%;
            margin: auto;
            height: 500px;
            background-image: url("../images/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2020__12__Cranberry-Brie-Onion-Focaccia-LEAD-4-616c900337a44d82b82fe04845ba8c2b.webp");
            background-size: contain;
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
        }

        .img-author {
            text-align: center;
            color: gray;
            font-size: 1em;
            margin-top: 5px;
        }

        .collection-link {
            padding-left: 10px;
            border-left: 2px solid orange;
            margin: 40px 0px;
        }

        .collection-link h2 {
            font-size: 1.2em;
            margin: 0px;
            color: brown;

        }

        .collection-link a {
            font-size: 1em;
            color: lightskyblue;
        }

        .ingredients-container h2,
        .method-container h2 {
            padding-bottom: 20px;
            border-bottom: 2px solid lightcyan;
            font-weight: 500;
            font-size: 1.7em;
        }

        .footer a {
            color: lightskyblue;
        }

        h3 {
            font-weight: 500;
            color: darkorange;
        }