body {
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}

.slogan {
    background-color: rgba(253, 253, 166, 0.158);
    border-top: 3px solid rgba(255, 255, 0, 0.527);
    width: 105%;
    font-size: 14px;
    letter-spacing: 1px;
}

.logo-container p {
    color: green;
    display: block;
    text-align: center;

}

.logo {
    margin: 15px;
    width: 200px;
    height: 50px;
    background-image: url('../images/Simply_Recipes_Logo_-_2021.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.top-content p {
    width: 700px;
}

.focaccia-img {
    width: 700px;
    height: 500px;
    background-image: url('../images/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2020__12__Cranberry-Brie-Onion-Focaccia-LEAD-4-616c900337a44d82b82fe04845ba8c2b.webp');
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10px;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.top-content h1 {
    text-align: center;
    width: 500px;
    font-size: 32px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-author {
    color: gray;
    margin-top: 15px;
    font-size: 18px;
}

.ingredients-container h2, .method-container h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 255, 255, 0.253);
}

.collection-link {
    border-left: 3px solid yellow;
    height: 35px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin-bottom: 30px;

}

.collection-link h2 {
    margin: 0px;
    font-weight: 500;
    color: brown;
    font-size: 20px;
}

.collection-link a {
    color: lightseagreen
}

.method-container {
    width: 770px;
    margin-top: 30px;
}

.more-container {
    width: 700px;
}

.more-container p a {
    color: lightseagreen;
}